#list__products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem 2rem;

    /* Container products */
    .container__products{
        width: 90%;
        display: grid;
        justify-content: center;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, 280px);
    }
}