#size__product{
    div > button{
        border-radius: 5px;
        background-color: var(--color-button-not-cliked);
        outline: none;

        &:nth-child(1){
            background-color: var(--color-button-cliked);
            color: white;
        }
    }
}