:root{
    --color-button-size-selected:#B88E2F;
}

#size__product{
    div > button{
        border-radius: 5px;
        background-color: var(--color-button-size);
        outline: none;

        &:nth-child(1){
            background-color: var(--color-button-size-selected);
            color: white;
        }
    }
}