#header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--primary-color);
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

    /* Logo furniro */
    #logo__furniro{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h1{
            font-size: 2.1rem;
            font-family: "Montserrat", sans-serif;
            color: var(--second-color);
        }
    }

    /* Navigation menu */
    nav{
        menu{
            display: none;
            align-items: center;
            list-style: none;
            gap: 5rem;

            /* links */
            li > a{
                color: var(--second-color);
                font-size: 1rem;
                font-optical-sizing: auto;
                font-weight: 500;
                cursor: pointer;
            }

            @media screen and (min-width:768px){
                display: flex;
            }
        }
    }

    /* User interaction for desktop */
    #user__interaction__desktop{
        display: none;

        @media screen and (min-width:1024px){
            display: block;
        }
    }

    /* Header media-query */
    @media screen and (min-width:768px){
        justify-content: space-around;
    }
}