:root{
    --font-color:#000000;
    --header-color:#FFFFFF;
}

#header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--header-color);
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

    /* Logo furniro */
    #logo__furniro{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h1{
            font-size: 2.1rem;
            font-family: "Montserrat", sans-serif;
            color: var(--font-color);
        }
    }

    nav{
        menu{
            display: none;
            align-items: center;
            list-style: none;
            gap: 5rem;

            /* links */
            li > a{
                color: var(--font-color);
                font-size: 1rem;
                font-optical-sizing: auto;
                font-weight: 500;
                cursor: pointer;
            }

            @media screen and (min-width:768px){
                display: flex;
            }
        }
    }

    #user__interaction{
        display: none;
        align-items: center;
        gap: 3rem;

        svg{
            cursor: pointer;
        }

        @media screen and (min-width:1024px){
            display: flex;
        }
    }


    @media screen and (min-width:768px){
        justify-content: space-around;
    }
}