/* Animation hover */
@keyframes hoverAnimation {
    0%{ height: 5%;}
}


.product__card{ 
    position: relative;
    background-color: var(--card-product-color);
    width:285px ;
    height: 446px;

    /* Card hover css */
    &:hover{
        .moreInformation{
            display: flex;
        }
    }

    /* More information hover card */
    .moreInformation{
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        position: relative;
        top: -100%;
        height: 446px;
        background-color: var(--more-information-card-color);
        animation-name: hoverAnimation;
        animation-duration: 0.4s;

        /* Button navigation */
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
            height: 48px;
            width: 202px;
            background-color: #FFFFFF;
            color: var(--text-see-details-color);
        }

        /* Actions for products */
        .actions__for__product{
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;

            li{
                display: flex;
                align-items:center;
                gap: 0.2rem;
                color: white;
                cursor: pointer;

                h6{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    /* ------------------------------------------- */

    /* Image product */
    img{
        width: 285px;
        height: 301px;
    }

    /* Product informations */
    article{
        padding: 1rem 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        /* Tag Color for product */
        .tag__card{
            position: absolute;
            color: var(--text-tag-product-card-color);
            font-size: 1rem;
            font-weight: 500;
            top: 4%;
            right: 5%;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Title card */
        .title__card{
            color: var(--title-product-card-color);
            font-size: 1.5rem;
            font-weight: 600;
        }

        /* Subtitle card */
        .subtitle__card{
            color: var(--subtitle-product-card-color);
            font-size: 0.9rem;
            font-weight: 500;
        }

        /* Price details */
        section{

            /* Current price css */
            .current__price{
                font-size: 1.3rem;
                font-weight: 600;
            }

            /* Prices details */
            .price__details{
                display: flex;
                justify-content: space-between;
                align-items: center;

                /* Old price css */
                .old__price{
                    text-decoration: line-through;
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--card-old-price-color);
                }
            }
        }
    }

}